{{ define "main" -}}
    <div class="talks posts">

        {{ range where .Data.Pages.ByDate.Reverse "Type" "devblog" }}
        <div class="post-teaser">
            {{ if eq (.Date.Format "2006-01-2") (dateFormat "2006-01-2" .Params.eventenddate) }}
            {{ .Date.Format "Monday, 2. Jan 2006" }}
            {{- else -}}
            {{ .Date.Format "Monday, 2. Jan 2006" }} - {{ dateFormat "Monday, 2. Jan 2006" .Params.eventenddate }}
            {{- end }}

            <a href="{{ .Params.url }}"><h3>{{ .Title }}</h3></a>
            <img src='{{ .Site.BaseURL }}{{ .Params.picture }}' width="100%" height="250" style="border:1px solid black; border-radius: 5px;">
        </div>
        {{- end }}     
    </div>
{{- end }}